/* Estilo global */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #2e2e2e;
}

/* Estilo de la imagen de fondo */
.hero-image {
    background-image: url(https://img.anime2you.de/2022/03/The-Garden-of-Words-1.jpg);
    margin-left: 50px;
    width: 500px;
    margin-top: 30px;
    
}

.information{
    text-align: left;
    margin-left: 10px;
    margin-top: -15px;
}

.information2 {
    text-align: right;
    bottom: 0; /* Lo coloca en la parte inferior */
    position: absolute;
    margin-bottom: 10px; /* Espacio desde el borde inferior */
    margin-left: 200px;
}



/* Encabezado */
.header {
    background-color: #345947;
    height: 50vh;
    color: #fff;
    display: flex;
    position: relative;
}

.overlay {
    text-align: left;
    margin-left: -60px;
    background-color: transparent;
    padding: 20px;
    margin-top: 50px;
}

h1 {
    font-size: 3em;
}

/* Sección de sinopsis */
.synopsis {
    padding: 20px;
    background-color: #f4f4f4;
}

.synopsis h2 {
    text-align: center;
    color: #345947;
}


.synopsis .content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
}

.synopsis p {
    flex: 2;
    font-size: 1.2em;
    line-height: 1.6;
    margin-left:30px ;
    margin-right: 45px;
    justify-content: right;
    text-align: right;
}

.synopsis .image {
    object-position: center; /* Ajusta la posición de la imagen (opcional) */
    border-radius: 5px;
}

.synopsis hr {
    margin: 20px auto 20px 0;
    width: 46%;
    border: 1px solid #345947;
}

/* Detalles */
.details {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.detail-card {
    text-align: center;
}

.detail-card img {
    width: 250px;
    border-radius: 10px;
}

footer{
    background-color: #345947;
    height: 30vh;
    color: #fff;
    display: flex;
    position: relative;
}

/* Media queries para pantallas más pequeñas */
@media (max-width: 768px) {
    /* Sección de detalles */
    .details {
        flex-direction: column;
        align-items: center;
    }

    .detail-card {
        margin-bottom: 20px;
    }

    /* Sinopsis */
    .synopsis .content {
        flex-direction: column;
        align-items: center;
    }

    .synopsis .image {
        max-width: 100%; /* Imagen se adapta al ancho disponible */
        margin: 20px 0;
    }

    .synopsis p {
        text-align: center; /* Centra el texto en pantallas pequeñas */
    }

    /* Ajustes adicionales */
    h1 {
        font-size: 2em; /* Ajusta el tamaño de los títulos en pantallas pequeñas */
    }

    .synopsis p {
        font-size: 1em; /* Asegura que el texto no sea demasiado grande en dispositivos pequeños */
    }
}


